@charset "UTF-8";

*{-moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; -webkit-box-sizing: content-box; border: 0; box-sizing: content-box; color:inherit; margin: 0; padding: 0;}html{-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font: 14px 'Roboto',sans-serif; height: auto;}
body{cursor: default; font: 14px 'Roboto', sans-serif; margin: 0; width: 100%;background:#fff;}a{color: #000; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; background-color: transparent; text-decoration: none;}a:hover{text-decoration: underline;}address{font-style: normal;}b,strong{font-weight: bold;}button,input,mark{background: none;}button,label{cursor: pointer;}li{list-style: none;}img{border: 0;}button{overflow: visible; box-sizing: border-box; cursor: pointer; font-family: inherit; font-size: inherit; outline: 0; text-align: center; background: none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance: button; cursor: pointer;}button[disabled],html input[disabled]{cursor: default;}button,label{cursor: pointer;}button::-moz-focus-inner,input::-moz-focus-inner{border: 0; padding: 0;}input{line-height: normal;}input[type="checkbox"],input[type="radio"]{box-sizing: border-box; padding: 0;}input:required{-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}textarea{overflow: auto;}:focus{outline: none;}::-moz-focus-inner{border: 0;}

.sta-inputFixed{position:fixed;left:-999px;top:0;height:0;width:0;opacity:0}

html.sta-noScroll,
html.sta-noScroll body{overflow:hidden;}


<<<<<<< HEAD
/* REGLA CSS */

.regla:before{content:'';position: fixed;left: 0; right: 0; top: 50px; border-bottom: 1px solid red; z-index: 999;}
.regla:after{content:'';position: fixed;left:50%; top: 0;bottom: 0; border-left: 1px solid red; z-index: 999;}


/* FIN REGLA CSS */


/*.tpl-ideaconcurso-pn*/
.tpl-ideaconcurso-pn{background: #f4f1e8;padding: 35px 25px;text-align: center;font:bold 18px "Myriad Pro";color: #9c8c65;}
.tpl-ideaconcurso-pn .sta-ideaconcurso-pn_max .sta-textidea-pn_text .sta-format1{font-weight: normal;}  
.tpl-ideaconcurso-pn .sta-ideaconcurso-pn_max .sta-imageidea-pn_image{width: 236px;height: 236px;border-radius: 50%;background-repeat: no-repeat;background-position: center;background-size: cover;margin: 50px auto 0;}


@media (min-width: 601px){
    .tpl-ideaconcurso-pn{padding: 45px 25px; font-size: 22px;}
    .tpl-ideaconcurso-pn .sta-ideaconcurso-pn_max{position: relative; max-width: 700px; margin: 0 auto;}
    .tpl-ideaconcurso-pn .sta-ideaconcurso-pn_max .sta-textidea-pn_text{padding-right: 275px;}
    .tpl-ideaconcurso-pn .sta-ideaconcurso-pn_max .sta-imageidea-pn_image{position: absolute; margin:-118px 0 0;  right: 0;top: 50%; }
}

/*fin.tpl-ideaconcurso-pn*/
    


/*.tpl-noticia-pn*/
.tpl-noticia-pn{padding: 40px 40px 95px;background: #fff; color: #000;}
.tpl-noticia-pn .sta-noticia-pn_news{position: relative; background: #f3f1e8;width: 205px; font: 13px/16px "Montserrat"; margin:0 auto 28px;padding:200px 20px 10px; letter-spacing: 0.03em;}
.tpl-noticia-pn .sta-noticia-pn_news:last-of-type{margin-bottom: 0}
.tpl-noticia-pn .sta-noticia-pn_news .sta-noticia-pn_image{height: 185px;background-repeat: no-repeat; background-position: center; background-size: cover;position: absolute; top: 0; left: 0; right: 0;}
.tpl-noticia-pn .sta-noticia-pn_news .sta-noticia-pn_title{margin-bottom: 10px;}
.tpl-noticia-pn .sta-noticia-pn_news .sta-noticia-pn_enlace{font-size: 11px; text-align: right;}
.tpl-noticia-pn .sta-noticia-pn_news .sta-noticia-pn_enlace a{color: #656464;}

.tpl-noticia-pn .sta-noticia-pn_more.sta-disable{display: none;}
.tpl-noticia-pn .sta-noticia-pn_more{font: 16px "Montserrat"; margin-top: 20px;}
.tpl-noticia-pn .sta-noticia-pn_more .sta-noticia-pn_button{text-decoration: underline;height: 50px;text-align: center;width: 100%;}
.tpl-noticia-pn .sta-noticia-pn_loading{margin: 20px; text-align: center;}
.tpl-noticia-pn .sta-noticia-pn_loading.sta-complete{display:none;}
.tpl-noticia-pn .sta-noticia-pn_loading img{width: 100%;max-width: 300px;}

@media (min-width: 601px){
    .tpl-noticia-pn{padding: 47px 40px 60px;}
    .tpl-noticia-pn .sta-noticia-pn_max {margin: 0 auto;}
    .tpl-noticia-pn .sta-noticia-pn_max {max-width: 810px; padding-left: 37px;}
    .tpl-noticia-pn .sta-noticia-pn_max .sta-noticia-pn_container{ min-height: 620px;}
    .tpl-noticia-pn .sta-noticia-pn_max .sta-noticia-pn_container .sta-noticia-pn_news{display: inline-block; margin-bottom: 22px; margin-right: 20px;}
=======


.tpl-text-pn {padding: 10px 20px 125px;background: #fff;font: 14px/ 24px 'Aleo', serif;letter-spacing: .05em;text-align: justify; color: #3b3b3b}
.tpl-text-pn.v2{padding: 25px 15px 40px; text-align: center}
@media (min-width:601px) {
    .tpl-text-pn {padding: 40px 20px}
    .tpl-text-pn .sta-text-pn_max {max-width: 690px; column-count: 2;column-gap: 45px;  display: block; margin: auto}
    .tpl-text-pn.v2{padding: 60px 70px;}
    .tpl-text-pn.v2 .sta-text-pn_max {column-count: auto;}
}




.tpl-edic-pn {padding: 30px 30px 180px; text-align: justify; background: #fff; color: #1e2c34}
.tpl-edic-pn .sta-edic-pn_cont_tit {text-align: center; color: #9c8c65; font:14px/ 16px 'Aleo'; margin-bottom: 40px}
.tpl-edic-pn .sta-edic-pn_cont_pp {font:14px/ 24px 'Aleo'; letter-spacing: 0.05em; vertical-align: top;}
.tpl-edic-pn .sta-edic-pn_cont_pp:not(:first-of-type){margin-top: 25px}
.tpl-edic-pn .sta-button {display: block; margin: 35px auto 0; background: #1e2c34; color: #FFF; border-radius: 30px; font:bold 13px 'Montserrat'; text-align: center; box-shadow:5px 6px 5px -2px rgba(0,0,0,.54); padding:15px;text-transform: uppercase; letter-spacing: .085em; text-decoration: none; border: solid 2px #1e2c34; max-width: 250px;}
.tpl-edic-pn .sta-button:hover {background: #fff; color: #1e2c34; transition: .3s;}
.tpl-edic-pn svg {display: block; margin: 0 auto 25px; width: 70px; height: 80px; color: #1e2c34}

@media (min-width:601px) {
    .tpl-edic-pn {padding: 40px 30px 40px;}
    .tpl-edic-pn .sta-edic-pn_cont{margin: 0 auto; max-width: 900px;}
    .tpl-edic-pn .sta-edic-pn_cont_p{margin: 0 auto; max-width: 590px; display: table; width: 100%}
    .tpl-edic-pn .sta-edic-pn_cont_pp{display: table-cell;vertical-align: top;width: 50%; color: #1e2c34; font:14px/24px 'Aleo'; letter-spacing: 0.05em;text-align: justify;}
    .tpl-edic-pn .sta-edic-pn_cont_tit{font:14px/ 24px 'Aleo'; letter-spacing: 0.05em}
    .tpl-edic-pn .sta-edic-pn_cont_pp:not(:last-of-type){border-right: 1px solid rgba(0, 0, 0, 0.2);}
    .tpl-edic-pn .sta-edic-pn_cont_pp:first-of-type{padding-right: 40px}
    .tpl-edic-pn .sta-edic-pn_cont_pp:last-of-type{padding-left: 30px}
>>>>>>> d9712d86a5be36cadf19193c434f7c2c7cb31f97
}



<<<<<<< HEAD
/*fin.tpl-noticia-pn*/

/* .tpl-home-pn */

.tpl-home-pn{background-repeat: no-repeat;background-size: cover; background-position: center;padding: 40px 40px 60px;color: #fff;text-align: center; font: 18px/20px "Montserrat";counter-reset: section;}
.tpl-home-pn .sta-home-pn_text span{font: bold 40px/46px "Aleo";display: block; letter-spacing: 0.06em; margin-bottom: 25px;}
.tpl-home-pn ul li div:before{content: counter(section) '. ';counter-increment: section;}
.tpl-home-pn .sta-home-pn_container li{margin-bottom: 30px; font: bold 18px "Aleo"; letter-spacing: 0.045em;}
.tpl-home-pn .sta-home-pn_container .sta-home-pn_title{width: 150px; margin: 0 auto;}
.tpl-home-pn .sta-home-pn_container li:last-of-type{margin-bottom: 0;}
.tpl-home-pn .sta-home-pn_container li svg{fill:  #fff; height: 70px; width: 70px; }
.tpl-home-pn .sta-home-pn_containerbutton{margin-top: 40px;}
.tpl-home-pn .sta-home-pn_containerbutton .sta-home-pn_button{border-radius: 15px; padding: 6px 15px; background: #f6f3e0; color: #000;font: bold 12px/15px "Montserrat"; letter-spacing: 0.016em; margin: 0 auto;border: solid 2px#f6f3e0;text-decoration: none;display:inline-block;box-shadow: 0 8px 22px -3px #000;}
.tpl-home-pn .sta-home-pn_containerbutton .sta-home-pn_button:hover{background: transparent; color: #f6f3e0;transition: .3s;}
@media (min-width: 601px){
    .tpl-home-pn{padding: 80px 40px;}
    .tpl-home-pn .sta-home-pn_max{max-width: 650px;margin: 0 auto;}
    .tpl-home-pn .sta-home-pn_container li{display: inline-block; margin: 0px 25px 30px;vertical-align: top;}
}
/* fin.tpl-home-pn */
=======

.tpl-footer-pn {background: #0d2831; font:14px/15px 'Aleo'; letter-spacing: .05em;padding: 10px 10px 15px;text-align: center;}
.tpl-footer-pn .sta-footer-pn_iz svg{width: 120px; height: 50px; display: inline-block; fill: #899396; margin-right: 20px}
.tpl-footer-pn .sta-footer-pn_iz a{display: inline-block;text-decoration: none; vertical-align: middle;}
.tpl-footer-pn .sta-footer-pn_iz a:last-of-type svg{margin-right: 0}
.tpl-footer-pn .sta-footer-pn_der li:not(:last-of-type):not(:nth-last-of-type(2)){border-right: 1px solid #899396; padding-right: 8px; margin-right: 7px}
.tpl-footer-pn .sta-footer-pn_der li:last-of-type{display: block;margin-top: 10px;}
.tpl-footer-pn .sta-footer-pn_der li{display: inline-block;vertical-align: middle;}
.tpl-footer-pn .sta-footer-pn_der {margin-top: 10px}
.tpl-footer-pn .sta-footer-pn_der a{text-decoration: none; color: #899396}

@media (min-width:795px) {
    .tpl-footer-pn {}
    .tpl-footer-pn .sta-footer-pn_max{max-width: 940px; display: table; vertical-align: middle; margin: 0 auto; width: 100%}
    .tpl-footer-pn .sta-footer-pn_der{text-align: right; display: table-cell; padding-left: 10px; vertical-align: middle}
    .tpl-footer-pn .sta-footer-pn_iz { display: table-cell; text-align: left; margin-top: 10px; vertical-align: middle}
    .tpl-footer-pn .sta-footer-pn_iz a svg{ width: 160px; height: 50px;}
    .tpl-footer-pn .sta-footer-pn_der li:not(:last-of-type):not(:nth-last-of-type(2)){padding-right: 15px; margin-right: 15px}
}
>>>>>>> d9712d86a5be36cadf19193c434f7c2c7cb31f97
