@charset "UTF-8";

*{-moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; -webkit-box-sizing: content-box; border: 0; box-sizing: content-box; color:inherit; margin: 0; padding: 0;}html{-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font: 14px 'Roboto',sans-serif; height: auto;}
body{cursor: default; font: 14px 'Roboto', sans-serif; margin: 0; width: 100%;background:#fff;}a{color: #000; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; background-color: transparent; text-decoration: none;}a:hover{text-decoration: underline;}address{font-style: normal;}b,strong{font-weight: bold;}button,input,mark{background: none;}button,label{cursor: pointer;}li{list-style: none;}img{border: 0;}button{overflow: visible; box-sizing: border-box; cursor: pointer; font-family: inherit; font-size: inherit; outline: 0; text-align: center; background: none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance: button; cursor: pointer;}button[disabled],html input[disabled]{cursor: default;}button,label{cursor: pointer;}button::-moz-focus-inner,input::-moz-focus-inner{border: 0; padding: 0;}input{line-height: normal;}input[type="checkbox"],input[type="radio"]{box-sizing: border-box; padding: 0;}input:required{-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}textarea{overflow: auto;}:focus{outline: none;}::-moz-focus-inner{border: 0;}

.sta-inputFixed{position:fixed;left:-999px;top:0;height:0;width:0;opacity:0}

html.sta-noScroll,
html.sta-noScroll body{overflow:hidden;}

/* COOKIES */
#sta-cookies:checked ~ .tpl-g-cookies{display:none;}
.tpl-g-cookies{background:#000;z-index:201;color:#fff;padding:10px;text-align:center;font-size:13px;position:relative;font-family:'PT Sans', sans-serif;}
.tpl-g-cookies a{color:#f0f0f0;font-weight:bold;}
.tpl-g-cookies label{cursor:pointer;padding:0 10px;margin:0 10px;background:#fff;color:#000;}
/* COOKIES */


/* tpl-text-pn*/
.tpl-text-pn {padding: 10px 20px 125px;background: #fff;font: 14px/ 24px 'Aleo', serif;letter-spacing: .05em;text-align: justify; color: #3b3b3b}
.tpl-text-pn.v2{padding: 25px 15px 40px; text-align: center}
@media (min-width:601px) {
    .tpl-text-pn {padding: 40px 20px}
    .tpl-text-pn .sta-text-pn_max {max-width: 690px; column-count: 2;column-gap: 45px;  display: block; margin: auto}
    .tpl-text-pn.v2{padding: 60px 70px;}
    .tpl-text-pn.v2 .sta-text-pn_max {column-count: auto;}
}
/* tpl-text-pn*/


/* tpl-edic-pn*/
.tpl-edic-pn {padding: 30px 30px 180px; text-align: justify; background: #fff; color: #1e2c34}
.tpl-edic-pn .sta-edic-pn_cont_tit {text-align: center; color: #9c8c65; font:14px/ 16px 'Aleo'; margin-bottom: 40px}
.tpl-edic-pn .sta-edic-pn_cont_pp {font:14px/ 24px 'Aleo'; letter-spacing: 0.05em; vertical-align: top;}
.tpl-edic-pn .sta-edic-pn_cont_pp:not(:first-of-type){margin-top: 25px}
.tpl-edic-pn .sta-button {display: block; margin: 35px auto 0; background: #1e2c34; color: #FFF; border-radius: 30px; font:bold 13px 'Montserrat'; text-align: center; box-shadow:5px 6px 5px -2px rgba(0,0,0,.54); padding:15px;text-transform: uppercase; letter-spacing: .085em; text-decoration: none; border: solid 2px #1e2c34; max-width: 250px;}
.tpl-edic-pn .sta-button:hover {background: #fff; color: #1e2c34; transition: .3s;}
.tpl-edic-pn svg {display: block; margin: 0 auto 25px; width: 70px; height: 80px; color: #1e2c34}

@media (min-width:601px) {
    .tpl-edic-pn {padding: 40px 30px 40px;}
    .tpl-edic-pn .sta-edic-pn_cont{margin: 0 auto; max-width: 900px;}
    .tpl-edic-pn .sta-edic-pn_cont_p{margin: 0 auto; max-width: 590px; display: table; width: 100%}
    .tpl-edic-pn .sta-edic-pn_cont_pp{display: table-cell;vertical-align: top;width: 50%; color: #1e2c34; font:14px/24px 'Aleo'; letter-spacing: 0.05em;text-align: justify;}
    .tpl-edic-pn .sta-edic-pn_cont_tit{font:14px/ 24px 'Aleo'; letter-spacing: 0.05em}
    .tpl-edic-pn .sta-edic-pn_cont_pp:not(:last-of-type){border-right: 1px solid rgba(0, 0, 0, 0.2);}
    .tpl-edic-pn .sta-edic-pn_cont_pp:first-of-type{padding-right: 40px}
    .tpl-edic-pn .sta-edic-pn_cont_pp:last-of-type{padding-left: 30px}
}
/* tpl-edic-pn*/


/* tpl-footer-pn*/
.tpl-footer-pn {background: #0d2831; font:14px/15px 'Aleo'; letter-spacing: .05em;padding: 10px 10px 15px;text-align: center;}
.tpl-footer-pn .sta-footer-pn_iz svg{width: 120px; height: 50px; display: inline-block; fill: #899396; margin-right: 20px}
.tpl-footer-pn .sta-footer-pn_iz a{display: inline-block;text-decoration: none; vertical-align: middle;}
.tpl-footer-pn .sta-footer-pn_iz a:last-of-type svg{margin-right: 0}
.tpl-footer-pn .sta-footer-pn_der li:not(:last-of-type):not(:nth-last-of-type(2)){border-right: 1px solid #899396; padding-right: 8px; margin-right: 7px}
.tpl-footer-pn .sta-footer-pn_der li:last-of-type{display: block;margin-top: 10px;}
.tpl-footer-pn .sta-footer-pn_der li{display: inline-block;vertical-align: middle;}
.tpl-footer-pn .sta-footer-pn_der {margin-top: 10px}
.tpl-footer-pn .sta-footer-pn_der a{text-decoration: none; color: #899396}

@media (min-width:795px) {
    .tpl-footer-pn {}
    .tpl-footer-pn .sta-footer-pn_max{max-width: 940px; display: table; vertical-align: middle; margin: 0 auto; width: 100%}
    .tpl-footer-pn .sta-footer-pn_der{text-align: right; display: table-cell; padding-left: 10px; vertical-align: middle}
    .tpl-footer-pn .sta-footer-pn_iz { display: table-cell; text-align: left; margin-top: 10px; vertical-align: middle}
    .tpl-footer-pn .sta-footer-pn_iz a svg{ width: 160px; height: 50px;}
    .tpl-footer-pn .sta-footer-pn_der li:not(:last-of-type):not(:nth-last-of-type(2)){padding-right: 15px; margin-right: 15px}
}
/* tpl-footer-pn*/
